---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fi mt-2">
      ChatGPT Demo <Themetoggle />
  </div>
  <p mt-1 op-60>Model: gpt-3.5-turbo</p>
</header>
